.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(230, 226, 226);
    padding: 1rem 0;
    margin: 1rem 0;
  }
  
  .cart-item h2 {
    margin: 0 0 0.5rem 0;
    color:  rgb(230, 226, 226);
  }
  
  .summary {
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .price {
    font-weight: bold;
    color: #ffffff;
  }
  
  .amount {
    width: 2rem;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 0.25rem 0.75rem;
    border-radius: 6px;
    color:  rgb(230, 226, 226);
    margin-left: 1rem;
  }

  .quantity {
    width: 8.5rem;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 0.25rem 0.75rem;
    border-radius: 6px;
    margin-left: 1rem;
    color:  rgb(230, 226, 226);
  }
  
  .actions {
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 768px) {
    .actions {
      flex-direction: row;
    }
  }
  
  .cart-item button {
    font: inherit;
    font-weight: bold;
    font-size: 1.25rem;
    color: rgb(230, 226, 226);
    border: 1px solid rgb(230, 226, 226);
    width: 3rem;
    text-align: center;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 1rem;
    margin: 0.25rem;
  }
  
  .cart-item button:hover,
  .cart-item button:active {
    background-color: rgb(230, 226, 226);
    color: #272626;
  }