@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap");

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 5rem;
  background-color: #272626;
  color: rgb(230, 226, 226);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.507);
  z-index: 1;
}

.header h1 {
  font-family: "Sixtyfour", sans-serif;
  font-size: 2.5rem;
  margin-top: 1.4rem;
}

.header p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.7rem;
  text-decoration: overline;
  text-overflow: clip;
  margin-top: -1.5rem;
  margin-left: 4.3rem;
}

.main-image {
  width: 100%;
  height: 30rem;
  z-index: 0;
  overflow: hidden;
  margin-top: 5rem;
}

.main-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-7deg) translateY(-5rem) translateX(-2rem);
}

.zindex {
  z-index: 20;
}
